main{
	width:100%;
	height:100%;
	display:block;
}
main h1{
	
}
main h4{
	
}
main #optistavin{
	
}
main #optistavin p.title{
	
}
main #optistavin .timer{
	
}
main #optistavin .timer p{
	
}
main #optistavin .timer p.time{
	
}
main #optistavin .timer p.minutes{
	
}
main #optistavin .bag{
	
}
main #competition{
	
}
main #competition p.title{
	
}
main #competition .timer{
	
}
main #competition .timer p{
	
}
main #competition .timer p.time{
	
}
main #competition .timer p.minutes{
	
}
main #competition .bag{
	
}
main p.footnote{
	
}