#container{
  width:100%;
  height:100%;
  display:block;
}
 .headline{
  background: url(../images/2.0_headline.svg) no-repeat;	
  width:100%;
  height:45px;
  position:absolute;
  left:94px;
  top:90px;
  z-index:99999;
}
#container #efficacy_four .headline{
  background:url(../images/2.3_headline.svg) no-repeat;
}

#container .section{
  position:relative;
  height:100%;
  display:block;
  opacity:0;
}
#container #efficacy_one.section{
  opacity:1
}
#container .sub_headline{
  position:absolute;
  top:145px;
  left:94px;
  width:644px;
}
#container #efficacy_six.section, #container #efficacy_three.section{
background: url(../images/2.5_background.jpg) no-repeat;
background-size:contain;
}
#container .section .graph{
  width:837px;
  position:absolute;
  left:160px;
  top:220px;
}
#container #efficacy_one .graph{
  background: url(../images/2.0_graph.svg) no-repeat;
  height:346px;
}
#container #efficacy_two .graph{
  background: url(../images/2.1_graph.svg) no-repeat;
  height:357px;
}
#container #efficacy_three .graph{
  background: url(../images/2.2_graph.svg) no-repeat;
  height:353px;
}
#container #efficacy_four .graph{
  background:url(../images/2.3_graph.svg) no-repeat;
  height:375px;
}
#container #efficacy_five .graph{
  background: url(../images/2.4_graph.svg)no-repeat;
  height:395px;
}
#container #efficacy_six .graph{
  background: url(../images/2.5_graph.svg)no-repeat;
  height:370px;
}
#container #efficacy_three p.body{
  position:absolute;
  top:600px;
  width:75%;
}
#container p.graph_footer{
  position:absolute;
  left: 165px;
  top: 609px;
  width: 640px;
  /* font-size:13px; */
}
#container #efficacy_two p.graph_footer{
  top:600px;
}
#container #efficacy_four p.graph_footer{
  top:620px;
}
#container #efficacy_five p.graph_footer{
  top:631px;
}  
#container #efficacy_six p.graph_footer{
  top:615px;
}













