#container{
  width:100%;
  height:100%;
  display:block;
}

#container .headline{
  background: url(../images/3.0_headline.svg) no-repeat;	
  width:719px;
  height:50px;
  position:absolute;
  left:94px;
  top:90px;
}

#container .sub_headline{
  position:absolute;
  top:145px;
  left:94px;
  width:584px;
  font-size: 18px;
  line-height: 25px
}
#container .section .graph{
  width:837px;
  height:328px;
  background: url(../images/2.0_graph.svg) green no-repeat;
  position:absolute;
  left:158px;
  top:236px;
}
#container p.graph_footer{
  position:absolute;
  left:90px;
  top:575px;
  width:700px;
  font-size:13px;
}

